*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
 
nav{ display: flex;
    /* position: fixed; */
    width: 100vw;
 margin-bottom: 20px;
     


 
    background-color: rgb(25, 40, 35);
 
}
nav .n{
     
    margin: 15px;
    padding: 15px;
    display: inline;
    font-size: 20px;
    font-weight: bolder;
     
}
nav .n a{
    color: aliceblue;
    text-decoration: none;
}
nav .logo img{
    padding: 15px;
    margin: 15px;
    /* display: inline; */
    width: 10vw;
    /* height: 40px; */
}
  
 .in{
    /* height: 50vh; */
    overflow-x: scroll;
    display: flex;
    width: 100vw;
     
 }
 .i{
   padding: 10px;
    margin: 10px; 
 }
 .te{
    font-weight: bolder;
    font-size: medium;
    padding: 10px;
    margin: 10px;
 }