*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
 
nav{ display: flex;
    /* position: fixed; */
    width: 100vw;
 margin-bottom: 20px;
     


 
    background-color: rgb(25, 40, 35);
 
}
nav .n{
     
    margin: 15px;
    padding: 15px;
    display: inline;
    font-size: 20px;
    font-weight: bolder;
     
}
nav .n a{
    color: aliceblue;
    text-decoration: none;
}
nav .logo img{
    padding: 15px;
    margin: 15px;
    /* display: inline; */
    width: 10vw;
    /* height: 40px; */
}
  
 .in{
    width: 75vw;
    height: 310px;
    color: white;
    margin: auto;
    display: flex;
    overflow-x: scroll;
    position: relative;
    scrollbar-width: none;

 }
  .in .i img{
      
    display: flex;
    display: grid;
    margin: 10px;
    padding: 2px;
    border-radius: 9px;
    cursor: pointer;
     
 } 
 .i:hover{
    transform: scale(.9);
 }
 
 /* .i{
   padding: 10px;
    margin: 10px; 
 } */
 .te{
     
    font-weight: bolder;
    font-size: larger;
    margin-left: 15vw;
    padding: 10px;
 }
   
  .arrow {
    display: flex;
    color: white;
    align-items: center;
    padding: 0px 9vw;

 }

 .left,
 .right {
    height: 80px;
    width: 30px;

    font-weight: bolder;
    background-color: rgb(62, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
 }