*{
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:whitesmoke;
}

.group-form{
    width: 500px;
    min-height: 200px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    border-color:black;
    border-width: 3px;
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.table-form{
   
    padding: 5px;
    margin: 5px;
     
}
.table-form label{
     border-radius: 9px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 20%;
     font-weight: bolder;


}
.table-form input{
     border-radius: 9px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 50%;
    outline: none;


}
.sign{
     border-radius: 9px;
    background-color: aquamarine;
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
.form-submit input:hover{
   color: yellow;
    cursor: pointer;
    
}
.form-submit input {
 background-color: tomato;
 display: block;
    width: 50%;
    text-align: center;
     margin: auto;
     padding: 5px;
      
     border: none;
      border-radius: 9px;
}
.group-form p{
text-align: center;
margin: 3px;
padding: 3px;
}
.group-form p a{
    font-weight: bolder;
}